body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
}

.gallery-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

#gallery {
    display: flex;
    overflow-x: auto; /* Allows scrolling */
    scroll-behavior: smooth;
    gap: 16px;
}

.image-item {
    flex: 0 0 auto;
}

.image-item img {
    width: 200px;
    height: auto;
    border-radius: 10px;
    transition: transform 0.3s ease;
}

.image-item img:hover {
    transform: scale(1.1);
}

button {
    background-color: #007BFF;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    font-size: 16px;
}

button:disabled {
    background-color: gray;
    cursor: not-allowed;
}

@media (max-width: 600px) {
    #gallery {
        width: 90%;
    }
}
